.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    min-height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .modalHeader,
  .modalBody,
  .modalFooter {
    padding: 10px 20px;
  }

  .modalBodyDelete {
    padding: 10px 20px;
    margin-left: 35px;
  }
  
  .modalHeader {
    min-height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    color: #8f8f8f;
    background-color: #e7e7e7;
  }
  
  .modalTitle {
    margin-left: 40px;
    font-weight: bold;
  }
  
  .modalFooter {
    margin-left: 155px;
    justify-content: flex-end;
    align-items: center;
  }
  
  .modalFooter button:last-child {
    margin-left: 10px;
  }

  .col-sm-4 {
    margin-top: 10px;
  }

  .col-sm-8 {
    margin-top: 8px;
  }

  .borderElement9sm {
    border-left: 1px solid #8f8f8f;
  }

  input.error {
    border: 1px solid #EADAE4;
  }
  
  .error {
    color:#dc3545;
    font-size: 12px;
    display: relative;
  }

  .clientErrors {
    color:red;
    display: relative;
    margin-left: 40px;
    margin-bottom: -20px;
  }
  
  .title {
    margin-right: 1%;
  }
  
  .title,
  .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .title {
    width: 100%;
  }
  
  .password {
    width: 100%;
  }
  
  .submit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }