.search {
    margin-top: 100px;
    margin-bottom: 30px;
}
.thead {
    border:3px solid #485e9e;
    border-left: 3px solid #485e9e;
    border-right: 3px solid #485e9e;
}

.tbody {
    background: white;
    border-top:3px solid #696969;
    border-left: 3px solid #485e9e;
    border-right: 3px solid #485e9e;
    border-bottom: 3px solid #485e9e;
}

#title {
    text-align: center;
    font-family: arial, sans-serif;
}  

.paginationBlock {
    margin-top: 90px;
}

.customError {
    font-size: 20px;
    color: #c62828;
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f2dede;
    margin-bottom: -100px;
}

.crossPlace {
    margin-left: 310px;
}

.imageButton {
    background: url('/images/crossForm.jpg') no-repeat;
    cursor: pointer;
    border: none;
    padding: 14px 12px;
}

.imageSortButton {
    background: url('/images/a.png') no-repeat;
    cursor: pointer;
    border: none;
    padding: 8px 8px 2px;
}
.dropup {
    position: relative;
    display: inline-block;
    margin-left: 250px;
}
  
.dropup-content {
    background-color: #c0c0c0;
    border-radius: 5px;
    display: none;
    position: absolute;
    bottom: 50px;
    min-width: 30px;
    margin-bottom: -12px;
}
  
.dropup:hover .dropup-content {
    display: block;
}

.footer {
    margin-top: 171px;
    flex-shrink: 0;
    padding-top: 15px; 
    text-align: center;
    background-color: #424242;
    color: #acacac;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .footerStyle {
    background-color: #424242;
    color: #acacac;
    text-align: center;
    padding: 17px;
    position: relative;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%
}