body {
  background: #c0c0c0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  margin-top: 171px;
  flex-shrink: 0;
  padding-top: 15px; 
  text-align: center;
  background-color: #424242;
  color: #acacac;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footerStyle {
  background-color: #424242;
  color: #acacac;
  text-align: center;
  padding: 17px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%
}

